@use "./partials/mixins" as *;

// Resets
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  @include tablet {
    // overflow: hidden;
  }
}

h2 {
  font-size: 1.125rem;
  padding: 0.58rem 1.25rem;
  color: #575ed8;
}

//Global
.input {
  padding: 1rem;
  box-sizing: border-box;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 1.2rem;
}

//Styling
.view {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-direction: row;
    align-items: flex-start;
    max-height: 100vh;
  }

  &__video {
    height: 100vh;
    flex: 7;
  }

  &__chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 3;
    width: 100%;
  }
}

.chat {
  &__title {
    margin: 0;
    padding: 1.48rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
  }

  &__box {
    width: 100%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__window {
    overflow: auto;
    background: #f9f9f9;
    height: 100%;
  }

  &__output {
    &-text {
      padding: 0.875rem 0px;
      margin: 0 1.25rem;
      border-bottom: 1px solid #e9e9e9;
      color: #555;

      &--sender {
        text-align: right;
      }
    }

    &-user {
      color: #ff6723;
      font-weight: bold;

      &--sender {
        color: lightseagreen;
      }
    }
  }

  &__feedback-text {
    color: #aaa;
    padding: 0.875rem 0px;
    margin: 0 1.25rem;
    font-style: italic;
  }

  &__button {
    background: black;
    color: #fff;
    font-size: 1.125rem;
    border: 0;
    padding: 1rem 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    position: relative;
  }

  &__info {
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::after {
      content: "This project is inspired by `The nicest place on the internet` created by Lauren Perlow & Jeff Lam";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-120%, -50%);
      border: 1px solid white;
      background: rgba(170, 170, 170, 0.533);
      border-radius: 10px;
      min-width: 11rem;
      padding: 0.5rem;
      text-align: center;
      transition: opacity 0.5s ease;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__music {
    width: 100%;
    height: 4.3rem;
  }
}

.message,
.user {
  &--error {
    border: 1px solid red;
  }
}
